<div class="bg" style="background-image: url(images/bg.png)">

        <nav class="navbar" style="text-align: center">
            <h1 class="display-4"> <img src="images/qm.png" style="width:100px;">Trivia Game</h1>
        </nav>

        <div class="container myContainer" id="formediaquery">
            <img id="fourofour" style= "width: 300px" src="images/404img1.png">
        </div>

</div>