<div class="bg">

        <nav class="navbar" style="text-align: center">
            <h1 class="display-4"> <img src="images/qm.png" style="width:100px;">Trivia Game</h1>
        </nav>

<div class="container">
 
    <img id="fourofour" style= "width: 300px" src="images/404img1.png">
</div>
</div>
