<div class="bg" style="background-image: url(images/bg.png)">
        <nav class="navbar" style="text-align: center">
            <h1 class="display-4"> <img src="images/qm.png" style="width:100px;">Trivia Game</h1>
        </nav>

        <div class="container myContainer " id="formediaquery">
            
            <div class="row">
                <div class="col">
                    <div id="screen">texttexttext</div>
                </div>
            </div>

        </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>