<div class="bg">

        <nav class="navbar" style="text-align: center">
                <h1 class="display-4"> <img src="images/qm.png" style="width:100px;">Trivia Game</h1>
            </nav>



<div class="leaderboard">
    <h1>
      Best Scores
    </h1>
    <ol>
      <li>
        <mark>Nycol</mark>
        <small>315</small>
      </li>
      <li>
        <mark>Andriyana</mark>
        <small>301</small>
      </li>
      <li>
        <mark>Rick</mark>
        <small>292</small>
      </li>
      <li>
        <mark>Alex</mark>
        <small>245</small>
      </li>
      <li>
        <mark>Dennys</mark>
        <small>203</small>
      </li>
    </ol>
  </div>

  
</div>
  


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="scores.js"></script>