
<div class="bg" style="background-image: url(images/bg.png)">
    <nav class="navbar" style="text-align: center">
            <h1 class="display-4"> <img src="images/qm.png" style="width:100px;">Trivia Game</h1>
    </nav>



    <div class="container myContainer">
            <div class="row">
                <div class="col">
                    <div id="music" class="icon"><a href="#" title="musictrivia"><h5>Music</h5><img src="images/music.png"></a></div>
                </div>
                <div class="col">
                    <div id="movies" class="icon"><a href="#" title="moviestrivia"><h5>Movies</h5><img src="images/movies.png"></a></div>
                </div>                
                <div class="col">
                    <div id="history" class="icon"><a href="#" title="historytrivia"><h5>History</h5><img src="images/history.png"></a></div>
                </div>               
                <div class="col">
                    <div id="geography" class="icon"><a href="#" title="geographytrivia"><h5>Geography</h5><img src="images/geography.png"></a></div>
                </div>           
             </div>

             <div class="row">
                <div class="col">
                    <div id="science" class="icon"><a href="#" title="sciencetrivia"><h5>Science</h5><img src="images/science.png"></a></div>
                </div>
                <div class="col">
                    <div id="computer" class="icon"><a href="#" title="computertrivia"><h5>Computer</h5><img src="images/computer.png"></a></div>
                </div>                
                <div class="col">
                    <div id="literature" class="icon"><a href="#" title="literaturetrivia"><h5>Literature</h5><img src="images/literature.png"></a></div>
                </div>               
                <div class="col">
                    <div id="misc" class="icon"><a href="#" title="misctrivia"><h5>Miscellaneous</h5><img src="images/miscellaneous.png"></a></div>
                </div>           
            </div>

    </div>

</div>