
html {
  margin: 0;
}

body {
  font-family: 'KoHo', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Dosis', sans-serif;
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("images/bg.png");
  /* background-image: linear-gradient(to right, purple , yellow); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  background-color: black;
  opacity: 0.6;
  color: white;
}

.myContainer {
  margin-top: 5%;
  margin-bottom: 25%;
  padding-top: 1%; 
  padding-bottom: 1%; 
  width: 100%;
  max-width: 800px;
  text-align: center;
  background-color: black;
  opacity: 0.7;
  color: white;
}

/* a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:active{
  color: white;
  text-decoration: none;
} */

/* @media screen and (max-width: 600px) {
  .bg {
      background-image: url(images/bg.png);

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
} */

/*---------------
Game
------------------*/

.start-button {

border: 0;
outline: none;
border-radius: 0;
padding: 15px;
font-size: 2rem;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.1em;
background: #4D438B;
color: #ffffff;
transition: all.5s ease;
-webkit-appearance: none;
}
.start-button:hover,
.start-button:focus {
  background: #330066;  
}

.time{
color: #4D438B;
font-size: 1rem;
}

.question{
color: #4D438B;
font-size: 2rem;
}

/*-------------------
login
----------------------------*/

*,
*:before,
*:after {
box-sizing: border-box;
}

/* body {
background: #c1bdba;
font-family: Helvetica;
} */

a {
text-decoration: none;
color: white;
transition: 0.5s ease;
}

a:hover {
  color:#4D438B;
  text-decoration: none;
}

/*-------------------
sign up
--------------------*/

.form {
background: #13232f, 0.9;
background-color: black;
opacity: 0.7;

padding: 40px;
max-width: 600px;
margin: 40px auto;
border-radius: 4px;
box-shadow: 0 4px 10px 4px #13232f, 0.3;
}

.tab-group {
list-style: none;
padding: 0;
margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #a0b3b0, 0.25;
  color: #74817f;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

li a:hover {
  background: #330066;
  color: #ffffff;
}

.active a {
  background: #4D438B;
  color: #ffffff;
}

.tab-content > div:last-child {
display: none;
}

h1 {
text-align: center;
color: #ffffff;
font-weight: 300;
margin: 0 0 40px;
}

label {
position: absolute;
transform: translateY(6px);
left: 13px;
color: #ffffff;
transition: all 0.25s ease;
-webkit-backface-visibility: hidden;
pointer-events: none;
font-size: 22px;
}
.req {
  margin: 2px;
  color: white;
}

label.active {
transform: translateY(50px);
left: 2px;
font-size: 14px;
}
.req.active {
  opacity: 0;
}

label.highlight {
color: #ffffff;
}

input,
textarea {
font-size: 22px;
display: block;
width: 100%;
height: 100%;
padding: 5px 10px;
background: none;
background-image: none;
border: 1px solid #a0b3b0;
color: white;
border-radius: 0;
transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input,
textarea:focus {
  outline: 0;
  border-color: #4D438B;
}

textarea {
border: 2px solid #a0b3b0;
resize: vertical;
}

.field-wrap {
position: relative;
margin-bottom: 40px;
}

.button {
font-family: 'KoHo', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Dosis', sans-serif;
border: 0;
outline: none;
border-radius: 0;
padding: 15px 0;
font-size: 2rem;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.1em;
background: #4D438B;
color: #ffffff;
transition: all.5s ease;
-webkit-appearance: none;
}

.button:hover,
.button:focus {
  background: #330066;

}

.button-block {
display: block;
width: 100%;
}

.forgot {
margin-top: -20px;
text-align: right;
}


/* -------------------------
Scoreboard page
---------------------------*/

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
/* min-height: 450px; */
/* height: 100vh; */
/* margin: 0;   */
/* background: radial-gradient(ellipse farthest-corner at center top, #4D438B 0%, #330066 100%); */
/* color: #fff; */
/* font-family: 'Open Sans', sans-serif;    */
}

/* .container1{
margin-top:30%;
/* opacity: 0.5; }*/

#myContainerReplace{
margin-top: 10%;
margin-bottom: 25%;
padding-top: 1%; 
padding-bottom: 1%; 
width: 100%;
max-width: 800px;
text-align: center;
}

#scoresHeader{
color:white;
}

@media screen and (max-width: 640px) { 
#myContainerReplace {
  margin-top: 25%
}

#formediaquery {
  margin-bottom: 75%
}
}

/*--------------------
Leaderboard
--------------------*/
.leaderboard {
position: relative;
top: 10%;
left: 50%;
transform: translate(-50%, -50%);
width: 285px;
height: 308px;
opacity: 0.7; 
border-radius: 10px;
box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

h1 {
  font-size: 2rem;
  color: white;
  padding: 12px 13px 18px;
}

h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}

ol {
  counter-reset: leaderboard;
  margin-left: -40px;
  margin-top: -10px;
  list-style-type:none
}

.scores {
  position: relative;
  z-index: 1;
  counter-increment: leaderboard;
  padding: 18px 10px 18px 50px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1.0, 1.0);
  font-size: 1rem;
  color: white;
}

.scores::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

mark {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 18px 10px 18px 50px;
  margin: 0;
  background: none;
  color: #fff;
}

mark::before, mark::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -11px;
  left: -9px;
  border-top: 10px solid #c24448;
  border-left: 10px solid transparent;
  transition: all .1s ease-in-out;
  opacity: 0;
}

mark::after {
  left: auto;
  right: -9px;
  border-left: none;
  border-right: 10px solid transparent;
}

small {
  position: relative;
  z-index: 2;
  display: block;
  text-align: right;
}

small::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, .08);
  transform: scaleX(1.06) scaleY(1.03);
  transition: all .3s ease-in-out;
  opacity: 0;
}

.scores:nth-child(1) {
  background: #4D438B;
  opacity: 0.9;    
}
   
.scores:nth-child(2) {
  background: rgb(70, 61, 128);
  opacity: 0.9;
}

.scores:nth-child(3) {
  background: rgb(66, 59, 121);
  opacity: 0.9;
}

.scores:nth-child(4) {
  background: rgb(57, 50, 104);
  opacity: 0.9;
}

.scores:nth-child(5) {
  background: #330066;
  opacity: 0.9;
  border-radius: 0 0 10px 10px;
}

/* hover */
.scores:hover {
  z-index: 2;
  overflow: visible;
  opacity: 1;
  transform: scaleX(1.06) scaleY(1.03);
  transition: all .35s ease-in-out
}